efibootmgr --disk {{ boot_disk }} --part 1 --create --label "Arch Linux" --loader /vmlinuz-linux --unicode 'rd.luks.name={{ root_uuid }}=root root=/dev/mapper/root rw lsm=landlock,lockdown,yama,integrity,apparmor,bpf initrd=\{{ microcode_package }}.img initrd=\initramfs-linux.img ' --verbose
