{{ _swap_decrypt_name }}   {{ _cryptswap_device }}	  /dev/urandom	        swap,cipher=aes-xts-plain64,size=256
{{ _tmp_decrypt_name }}	  {{ _crypttmp_device }}	    /dev/urandom	        tmp,cipher=aes-xts-plain64,size=256
{{ _home_decrypt_name }}   {{ _crypthome_device }}    /etc/luks-keys/home
