{{ _root_device }}        /       ext4            defaults        0       1
{{ _boot_device }}        /boot   vfat            defaults        0       2
{{ _tmp_device }}         /tmp    tmpfs           defaults        0       0
{{ _swap_device }}        none    swap            sw              0       0
{{ _home_device }}        /home   ext4            defaults        0       2
