{{ swap_decrypt_name }}   {{ cryptswap_device }}	  /dev/urandom	swap,cipher=aes-xts-plain64,size=256
{{ tmp_decrypt_name }}	  {{ crypttmp_device }}	    /dev/urandom	tmp,cipher=aes-xts-plain64,size=256
