{{ root_device }}        /       ext4            defaults        0       1
{{ boot_device }}        /boot   ext4            defaults        0       2
{{ tmp_device }}         /tmp    tmpfs           defaults        0       0
{{ swap_device }}        none    swap            sw              0       0
{{ home_device }}        /home   ext4            defaults        0       2
